In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector
import mysql.connector
import numpy as np
import os

conn = mysql.connector.connect(host = "localhost",
                            username = "codebind",
                            password = "58623",
                            database = "bank_loan_db")

cursor = conn.cursor()

# DASHBOARD#1 SUMMARY
# KPI's 

### Total Loan Applications

In [ ]:
query = '''
SELECT COUNT(id) AS Total_Applications
FROM fin_loan; 
'''

tla_df= pd.read_sql(query,conn)
tla_df

### MONTH to DAY Loan Applications

In [ ]:
query = '''
SELECT COUNT(id) AS MTD_Total_Applications
FROM fin_loan
WHERE MONTH(issue_date)=12 AND YEAR(issue_date) = 2021
'''

mtd_df= pd.read_sql(query,conn)
mtd_df

### PMTD Loan Applications

In [ ]:
query = '''
SELECT COUNT(id) AS PMTD_Total_Applications
FROM fin_loan
WHERE MONTH(issue_date)=11 AND YEAR(issue_date) = 2021
'''

pmtd_df= pd.read_sql(query,conn)
pmtd_df

# Total Funded Amount

In [ ]:
query = '''
SELECT SUM(loan_amount) AS Total_Funded_Amount 
FROM fin_loan;
'''

tfa_df= pd.read_sql(query,conn)
tfa_df

### Month and to DAY Total Funded Amount

In [ ]:
query = '''
SELECT SUM(loan_amount) AS Total_Funded_Amount 
FROM fin_loan
WHERE MONTH(issue_date) = 12 AND YEAR(issue_date) = 2021;
'''

mtd_tfa_df= pd.read_sql(query,conn)
mtd_tfa_df

### Previous Month and to DAY Total Funded Amount

In [ ]:
query = '''
SELECT SUM(loan_amount) AS Previous_Total_Funded_Amount 
FROM fin_loan
WHERE MONTH(issue_date) = 11 AND YEAR(issue_date) = 2021;
'''

pmtd_tfa_df= pd.read_sql(query,conn)
pmtd_tfa_df

# Total Amount Received

In [ ]:
query = '''
SELECT SUM(total_payment) AS Total_Amount_Received 
FROM fin_loan;
'''

tar_df= pd.read_sql(query,conn)
tar_df

### Month and to DAY Total Funded Amount

In [ ]:
query = '''
SELECT SUM(total_payment) AS MTD_Total_Amount_Received 
FROM fin_loan
WHERE MONTH(issue_date)=12  AND YEAR(issue_date)=2021;
'''

mtd_tar_df= pd.read_sql(query,conn)
mtd_tar_df

### Previous Month and to DAY Total Funded Amount

In [ ]:
query = '''
SELECT SUM(total_payment) AS PMTD_Total_Amount_Received 
FROM fin_loan
WHERE MONTH(issue_date)=11  AND YEAR(issue_date)=2021;
'''

pmtd_tar_df= pd.read_sql(query,conn)
pmtd_tar_df

# Average Interest Rate

In [ ]:
query = '''
SELECT ROUND(AVG(int_rate),4)*100 AS Average_interest_rate
FROM fin_loan;
'''

avg_inr_rate_df= pd.read_sql(query,conn)
avg_inr_rate_df

### Month to Date Average interest Rate

In [ ]:
query = '''
SELECT ROUND(AVG(int_rate), 4) *100 AS PMTD_Average_interest_rate
FROM fin_loan
WHERE MONTH(issue_date)=12 AND YEAR(issue_date)=2021;
'''

mtd_avg_inr_rate_df= pd.read_sql(query,conn)
mtd_avg_inr_rate_df

### Previous Month to Date Average interest Rate

In [ ]:
query = '''
SELECT ROUND(AVG(int_rate), 4) *100 AS PMTD_Average_interest_rate
FROM fin_loan
WHERE MONTH(issue_date)=11 AND YEAR(issue_date)=2021;
'''

pmtd_avg_inr_rate_df= pd.read_sql(query,conn)
pmtd_avg_inr_rate_df

# Average Dept-to-Income Ratio

In [ ]:
query = '''
SELECT ROUND(AVG(dti),4) *100 AS AVG_dti
FROM fin_loan;
'''

avg_dti_df= pd.read_sql(query,conn)
avg_dti_df

### Month to Date Average Dept-to-Income Ratio

In [ ]:
query = '''
SELECT ROUND(AVG(dti),4) *100 AS MTD_AVG_dti
FROM fin_loan
WHERE MONTH(issue_date) = 12 AND YEAR(issue_date)=2021;
'''

mtd_avg_dti_df= pd.read_sql(query,conn)
mtd_avg_dti_df

### Previous Month to Date Average Dept-to-Income Ratio

In [ ]:
query = '''
SELECT ROUND(AVG(dti),4) *100 AS PMTD_AVG_dti
FROM fin_loan
WHERE MONTH(issue_date) = 11 AND YEAR(issue_date)=2021;
'''

pmtd_avg_dti_df= pd.read_sql(query,conn)
pmtd_avg_dti_df

# Good vs Bad Loan

### Good Loan Application %

In [ ]:
query = '''
SELECT 
    ROUND(
        (COUNT(CASE WHEN loan_status = 'Fully Paid' OR loan_status = 'Current'
             THEN id
             END)*100.0)
             /
             COUNT(id), 2) AS Good_loan_percentage
FROM fin_loan
'''

good_lp_df=pd.read_sql(query,conn)
good_lp_df

### Good Loan Applications

In [ ]:
query = '''
SELECT COUNT(id) AS Good_loan_applications_count FROM fin_loan 
WHERE loan_status='Fully Paid' OR loan_status = 'Current';
'''
count_lp_df=pd.read_sql(query,conn)
count_lp_df

### Good loan funded amount

In [ ]:
query = '''
SELECT SUM(loan_amount) AS Good_loan_funded_amount FROM fin_loan
WHERE loan_status='Fully Paid' OR loan_status = 'Current';
'''
count_lp_df=pd.read_sql(query,conn)
count_lp_df

### Good loan received amount

In [ ]:
query = '''
SELECT SUM(total_payment) AS Good_loan_received_amount FROM fin_loan
WHERE loan_status='Fully Paid' OR loan_status = 'Current';
'''
count_lp_df=pd.read_sql(query,conn)
count_lp_df

### Bad Loan Application %

In [ ]:
query = '''
SELECT 
    ROUND(
        (COUNT(CASE WHEN loan_status = 'Charged Off' 
            THEN id
            END)*100.0)
            / 
            COUNT(id), 2) AS Bad_loan_percentage
FROM fin_loan;
'''
bad_lp_df=pd.read_sql(query,conn)
bad_lp_df

### Bad Loan Applications

In [ ]:
query = '''
SELECT COUNT(id) AS Ban_Loan_applications FROM fin_loan
WHERE loan_status='Charged Off';
'''
count_bad_lp_df=pd.read_sql(query,conn)
count_bad_lp_df

### Bad loan funded amount

In [ ]:
query = '''
SELECT SUM(total_payment) AS Bad_loan_received_amount FROM fin_loan
WHERE loan_status='Charged Off';
'''
amount_received_badl_df=pd.read_sql(query,conn)
amount_received_badl_df

### Bad loan received amount

In [ ]:
query = '''
SELECT SUM(loan_amount) AS Bad_loan_funded_amount FROM fin_loan
WHERE loan_status='Charged Off';
'''
amount_bad_lp_df=pd.read_sql(query,conn)
amount_bad_lp_df

# Loan Status Grid View

In [ ]:
query = '''
SELECT 
    loan_status,
    COUNT(id) AS Loan_Count,
    SUM(total_payment) AS Total_amount_Areceived,
    SUM(loan_amount) AS Totao_amount_Funded,
    ROUND(AVG(int_rate)*100,4) AS Interest_rate,
    ROUND(AVG(dti)*100,4) AS DTI
FROM fin_loan
GROUP BY loan_status;
'''
grid_view_df=pd.read_sql(query,conn)
grid_view_df

### Month to Date Loan Status Grid View

In [ ]:
query = '''
SELECT 
    loan_status,
    COUNT(id) AS Loan_Count,
    SUM(total_payment) AS MTD_Total_amount_Received,
    SUM(loan_amount) AS MTD_Total_amount_Funded
FROM fin_loan
WHERE MONTH(issue_date)=12
GROUP BY loan_status
ORDER BY MTD_Total_amount_Received DESC;
'''
grid_view_mtd_df=pd.read_sql(query,conn)
grid_view_mtd_df

### Previous Month to Date Loan Status Grid View

In [ ]:
query = '''
SELECT 
    loan_status,
    COUNT(id) AS Loan_Count,
    SUM(total_payment) AS PMTD_Total_amount_Received,
    SUM(loan_amount) AS PMTD_Total_amount_Funded
FROM fin_loan
WHERE MONTH(issue_date)=11
GROUP BY loan_status
ORDER BY PMTD_Total_amount_Received DESC;
'''
grid_view_pmtd_df=pd.read_sql(query,conn)
grid_view_pmtd_df

## *DASHBOARD 2 OVERVIEW*
# Monthly Trends by Issue Date

In [ ]:
query = '''
SELECT * FROM fin_loan
LIMIT 10
'''

grid_view_pmtd_df=pd.read_sql(query,conn)
grid_view_pmtd_df

In [ ]:
query = '''
SELECT 
    MONTH(issue_date) AS Month_number,
    MONTHNAME(issue_date) AS Month_name,
    COUNT(id) AS Total_Loan_applications,
    SUM(loan_amount) AS Total_funded_amount,
    SUM(total_payment) AS Total_received_amount
FROM fin_loan
GROUP BY Month_number, Month_name
ORDER BY Month_number DESC;
'''

monthly_trends_df=pd.read_sql(query,conn)
monthly_trends_df

# Regional Analysis by State

In [ ]:
query = '''
SELECT 
    address_state,
    COUNT(id) AS Total_Loan_applications,
    SUM(loan_amount) AS Total_funded_amount,
    SUM(total_payment) AS Total_received_amount
FROM fin_loan
GROUP BY address_state
ORDER BY Total_funded_amount DESC;
'''

address_satte_df=pd.read_sql(query,conn)
address_satte_df

# Loan Term Analysis

In [ ]:
query = '''
SELECT 
    term,
    COUNT(id) AS Total_Loan_applications,
    SUM(loan_amount) AS Total_funded_amount,
    SUM(total_payment) AS Total_received_amount
FROM fin_loan
GROUP BY term
ORDER BY term DESC;
'''

term_df=pd.read_sql(query,conn)
term_df

# Employee Length Analysis

In [ ]:
query = '''
SELECT 
    emp_length,
    COUNT(id) AS Total_Loan_applications,
    SUM(loan_amount) AS Total_funded_amount,
    SUM(total_payment) AS Total_received_amount
FROM fin_loan
GROUP BY emp_length
ORDER BY Total_funded_amount DESC;
'''

emp_length_df=pd.read_sql(query,conn)
emp_length_df

# Loan Puepose Breakdown

In [ ]:
query = '''
SELECT 
    purpose,
    COUNT(id) AS Total_Loan_applications,
    SUM(loan_amount) AS Total_funded_amount,
    SUM(total_payment) AS Total_received_amount
FROM fin_loan
GROUP BY purpose
ORDER BY Total_Loan_applications DESC;
'''

purpose_df=pd.read_sql(query,conn)
purpose_df

# Home Ownership Analysis

In [ ]:
query = '''
SELECT 
    home_ownership,
    COUNT(id) AS Total_Loan_applications,
    SUM(loan_amount) AS Total_funded_amount,
    SUM(total_payment) AS Total_received_amount
FROM fin_loan
WHERE grade = 'A' AND address_state = 'CA'
GROUP BY home_ownership
ORDER BY Total_Loan_applications DESC;
'''

ownership_df=pd.read_sql(query,conn)
ownership_df